@model CoreWeb.code.HQuser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
        <div>core</div>

        <div>当前账号: @Model.account </div>
    </div>
    <div>
        <div class="leftNav" style="min-height: 1300px;">
            <span class="leftNav-hd"><i class="ico ico-lbar1"></i>订单中心<i class="ico ico-arrowT"></i></span>
            <div class="leftNav-bd">
                <a href="https://i.hqbuy.com/v2/order/buyorderlist">我的订单</a>
                <a href="https://i.hqbuy.com/Comment/OrderComment">订单评价</a>
                <a href="https://i.hqbuy.com/Comment/ApplySamplepage">申请样片</a>

            </div>


        </div>
    </div>
</body>
</html>
