@model WebApplication1.code.HQuser

@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
</head>
<body>
    <div>
        <div> @Html.ActionLink("退出登入", "Logout")   </div>
        <div> asp.net  mvc
        </div>
        <div>当前账号: @Model.account </div>
    </div>
</body>
</html>
